.app-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    border-bottom: 1px solid var(--color-border);
    padding: 0 var(--space-3);
    height: var(--table-row-height);
    text-align: left;
  }
}
